<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gloriakim.recycling_tracker">


    <!--        camera usage-->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <!--    user permission for camera and storage-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Recycling Tracker"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".bottom_nav_record"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".bottom_nav_record_recycle"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".bottom_nav_record_trash"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".bottom_nav_search"
            android:label=""/>
        <activity android:name=".bottom_nav_search_details"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".bottom_nav_camera"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".bottom_nav_camera_yes_button"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".bottom_nav_camera_no_button"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".bottom_nav_camera_no_button_search"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".bottom_nav_camera_no_button_details"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".progress_bar_activity"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".top_nav_goal"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".first_time_tour"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".credits"
            android:theme="@style/AppTheme.NoActionBar"/>


    </application>

</manifest>