<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codepath.wmgf8">

<!--        camera usage-->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <!--    user permission for camera and storage-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".bottom_nav_record" />
        <activity android:name=".bottom_nav_record_recycle" />
        <activity android:name=".bottom_nav_recycle_trash" />

        <activity android:name=".bottom_nav_search" />
        <activity android:name=".bottom_nav_search_details" />

        <activity android:name=".bottom_nav_camera" />
        <activity android:name=".bottom_nav_camera_yes_button" />
        <activity android:name=".bottom_nav_camera_no_button" />

        <activity android:name=".progress_bar_activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" />
        <activity android:name=".top_nav_goal" />
        <activity android:name=".top_nav_collect" />
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->


    </application>

</manifest>